<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }

        .tr-head {
            background-color: '#dff08';
        }
    </style>
    <title>Document</title>
</head>

<body>

    <div class="fixed top-0 left-0 right-0 bg-gray-800">
        <div class="container mx-auto">
            <div class="flex items-center justify-between py-4">
                <a href="#" class="text-white text-lg font-bold">
                    IDGS805
                </a>
                <ul class="flex space-x-4">
                    <li class="active">
                        <a href="#" class="text-white flex items-center"></a>
                            <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7m-9 2v8m0 0H5a2 2 0 01-2-2v-5a2 2 0 012-2h3m10 0h3a2 2 0 012 2v5a2 2 0 01-2 2h-3m0 0v-8m0 0l-7-7-7 7"></path></svg>
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white flex items-center"></a>
                            <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A4.992 4.992 0 015 15V5a2 2 0 012-2h10a2 2 0 012 2v10a4.992 4.992 0 01-.121 2.804M15 12h.01M9 12h.01M12 12h.01M12 15h.01M12 18h.01M9 18h.01M15 18h.01"></path></svg>
                            Usuarios
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white flex items-center"></a>
                            <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A4.992 4.992 0 015 15V5a2 2 0 012-2h10a2 2 0 012 2v10a4.992 4.992 0 01-.121 2.804M15 12h.01M9 12h.01M12 12h.01M12 15h.01M12 18h.01M9 18h.01M15 18h.01"></path></svg>
                            Alumnos
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block container %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container mx-auto mt-16">
        {% endblock %}
    </div>

</body>

</html>